apiVersion: 1

datasources:
- name: Prometheus
  type: prometheus
  access: proxy
  orgId: 1
  url: http://prometheus:9090
  basicAuth: false
  isDefault: true
  version: 1
  editable: false
  jsonData:
    httpMethod: POST
    queryTimeout: 60s
    timeInterval: 15s

- name: Loki
  type: loki
  access: proxy
  orgId: 1
  url: http://loki:3100
  basicAuth: false
  isDefault: false
  version: 1
  editable: false
  jsonData:
    maxLines: 1000

- name: Elasticsearch
  type: elasticsearch
  access: proxy
  orgId: 1
  url: http://elasticsearch:9200
  basicAuth: false
  isDefault: false
  version: 1
  editable: false
  jsonData:
    interval: 1s
    timeField: "@timestamp"
    esVersion: "7.0"
    logMessageField: message
    logLevelField: level
    idField: "@id"
    timeInterval: 1s

- name: Jaeger
  type: jaeger
  access: proxy
  orgId: 1
  url: http://jaeger:16686
  basicAuth: false
  isDefault: false
  version: 1
  editable: false
  jsonData:
    queryTimeout: 30s
    tracesPerRequest: 20

- name: Grafana Cloud Metrics
  type: prometheus
  access: proxy
  orgId: 1
  url: https://prometheus-prod-01-eu-west-0.grafana.net/api/prom
  basicAuth: true
  isDefault: false
  version: 1
  editable: false
  jsonData:
    httpMethod: POST
    queryTimeout: 60s
    timeInterval: 15s
  secureJsonData:
    basicAuthUser: <grafana-cloud-username>
    basicAuthPassword: <grafana-cloud-api-key>